---
import { Connect } from "../components/button";
import Qrcode from "./qrcode.astro";
---

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Streamer</a>
    <p class="d-md-inline d-none">
      Made by Kanishy Chaudhary, Anjnay Mahajan and Bhuvnesh Kumar
    </p>
    <div class="d-flex">
      <div class="me-2">
        <Connect client:load />
      </div>
      <Qrcode />
    </div>
  </div>
</nav>
