---
import ComingSoon from "@/components/ComingSoon.widget.astro";
---

<ComingSoon title="Home" mainText="Coming Soon">
  <!-- <div class="btn-group my-5"> -->
  <!--   <a href="/projects/streamer" class="btn btn-outline-light" -->
  <!--     >CCA1 <i class="fas fa-expand ms-2"></i></a -->
  <!--   > -->
  <!-- </div> -->
  <!-- <div class="btn-group my-5"> -->
  <!--   <a href="/projects/code-checker" class="btn btn-outline-light" -->
  <!--     >PMP <i class="fas fa-expand ms-2"></i></a -->
  <!--   > -->
  <!-- </div> -->
  <div class="btn-group my-5">
    <a href="/projects/deicmsmarks" class="btn btn-outline-light">Old-CMS <i class="fas fa-expand ms-2"></i></a>
  </div>
  <a href="https://github.com/tokcide" class="text-decoration-none">
    <h5 class="fw-light text-white m-0">— Kanishk Chaudhary —</h5>
  </a>
</ComingSoon>
