---
import BaseLayout from "./BaseLayout.astro";

export interface Props {
  title: string;
  mainText: string;
}

const props = Astro.props;
---

<BaseLayout
  title={props.title}
  config={{ bootstrap: true, bootstrapJs: false }}
>
  <div class="d-flex flex-column justify-content-center w-100 h-100">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h1 class="text-4xl fw-light text-white m-0">{props.mainText}</h1>
      <slot />
    </div>
  </div>

  <style>
    body {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
      height: 100vh;
    }

    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  </style>
</BaseLayout>
