---
import BaseLayout from "@/components/Base.Layout.astro";

// import Main from "@feats/codechkr";
---

<BaseLayout title="codecheckr" config={{ bootstrap: true, bootstrapJs: false }}>
  <!-- <Main /> -->
  <button class="btn">Hello daisyUI</button>
</BaseLayout>
